<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,php.dist"/>
    <arg name="parallel" value="80"/>

    <arg value="p"/>

    <file>annalyns-infiltration</file>
    <file>high-scores</file>
    <file>lasagna</file>
    <file>resistor-color</file>
    <file>reverse-string</file>
    <file>robot-simulator</file>
    <file>tournament</file>

    <rule ref="LaminasCodingStandard">
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace"/>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>*/*Test.php</exclude-pattern>
    </rule>
    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>tournament</exclude-pattern>
    </rule>
    <rule ref="Squiz.Classes.ClassFileName.NoMatch">
        <exclude-pattern>tournament</exclude-pattern>
    </rule>
</ruleset>
