<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,php.dist"/>
    <arg name="parallel" value="80"/>

    <arg value="p"/>

    <file>annalyns-infiltration</file>
    <file>city-office</file>
    <file>high-scores</file>
    <file>language-list</file>
    <file>lasagna</file>
    <file>lucky-numbers</file>
    <file>pizza-pi</file>
    <file>proverb</file>
    <file>resistor-color-duo</file>
    <file>resistor-color-trio</file>
    <file>resistor-color</file>
    <file>reverse-string</file>
    <file>robot-simulator</file>
    <file>simple-cipher</file>
    <file>sweethearts</file>
    <file>tournament</file>
    <file>windowing-system</file>

    <rule ref="LaminasCodingStandard">
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace"/>
        <exclude name="WebimpressCodingStandard.NamingConventions.Trait.Suffix"/>
        <exclude name="WebimpressCodingStandard.NamingConventions.ValidVariableName.NotCamelCaps"/>
        <exclude name="WebimpressCodingStandard.NamingConventions.ValidVariableName.NotCamelCapsInString"/>
        <exclude name="WebimpressCodingStandard.NamingConventions.ValidVariableName.NotCamelCapsProperty"/>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>*/*Test.php</exclude-pattern>
    </rule>
    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>city-office</exclude-pattern>
    </rule>
    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>tournament</exclude-pattern>
    </rule>
    <rule ref="Squiz.Classes.ClassFileName.NoMatch">
        <exclude-pattern>tournament</exclude-pattern>
    </rule>
</ruleset>
