<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="default">
      <directory>annalyns-infiltration</directory>
      <directory>high-scores</directory>
      <directory>lasagna</directory>
      <directory>pizza-pi</directory>
      <directory>resistor-color</directory>
      <directory>reverse-string</directory>
      <directory>robot-simulator</directory>
      <directory>sweethearts</directory>
      <directory>tournament</directory>
      <directory>windowing-system</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">annalyns-infiltration</directory>
      <directory suffix=".php">high-scores</directory>
      <directory suffix=".php">lasagna</directory>
      <directory suffix=".php">pizza-pi</directory>
      <directory suffix=".php">resistor-color</directory>
      <directory suffix=".php">reverse-string</directory>
      <directory suffix=".php">robot-simulator</directory>
      <directory suffix=".php">sweethearts</directory>
      <directory suffix=".php">tournament</directory>
      <directory suffix=".php">windowing-system</directory>
    </include>
  </source>
</phpunit>
