<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="default">
      <directory>accumulate</directory>
      <directory>acronym</directory>
      <directory>anagram</directory>
      <directory>annalyns-infiltration</directory>
      <directory>beer-song</directory>
      <directory>change</directory>
      <directory>city-office</directory>
      <directory>high-scores</directory>
      <directory>language-list</directory>
      <directory>lasagna</directory>
      <directory>lucky-numbers</directory>
      <directory>minesweeper</directory>
      <directory>pizza-pi</directory>
      <directory>proverb</directory>
      <directory>resistor-color-duo</directory>
      <directory>resistor-color-trio</directory>
      <directory>resistor-color</directory>
      <directory>reverse-string</directory>
      <directory>robot-simulator</directory>
      <directory>simple-cipher</directory>
      <directory>sweethearts</directory>
      <directory>tournament</directory>
      <directory>twelve-days</directory>
      <directory>windowing-system</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">acronym</directory>
      <directory suffix=".php">acronym</directory>
      <directory suffix=".php">anagram</directory>
      <directory suffix=".php">annalyns-infiltration</directory>
      <directory suffix=".php">change</directory>
      <directory suffix=".php">city-office</directory>
      <directory suffix=".php">high-scores</directory>
      <directory suffix=".php">language-list</directory>
      <directory suffix=".php">lasagna</directory>
      <directory suffix=".php">lucky-numbers</directory>
      <directory suffix=".php">minesweeper</directory>
      <directory suffix=".php">pizza-pi</directory>
      <directory suffix=".php">proverb</directory>
      <directory suffix=".php">resistor-color-duo</directory>
      <directory suffix=".php">resistor-color-trio</directory>
      <directory suffix=".php">resistor-color</directory>
      <directory suffix=".php">reverse-string</directory>
      <directory suffix=".php">robot-simulator</directory>
      <directory suffix=".php">simple-cipher</directory>
      <directory suffix=".php">sweethearts</directory>
      <directory suffix=".php">tournament</directory>
      <directory suffix=".php">twelve-days</directory>
      <directory suffix=".php">windowing-system</directory>
    </include>
  </source>
</phpunit>
